<div class="row">
    <div class="col-12 text-center ">
        <div class="btn-group">
            <button type="button" (click)="changetab('designation')" class="btn" [ngClass]="currentcomponent=='designation' ? 'btn-success':'btn-danger'">designation</button>
            <button type="button" (click)="changetab('roles')" class="btn" [ngClass]="currentcomponent=='roles'?'btn-success':'btn-danger'" >roles</button>
             
          </div> 
        
          
    </div>
</div>

<div class="row">
    <div class="col-12" *ngIf="currentcomponent=='roles'">
        
        <app-roles></app-roles>
    </div>
</div>
<div class="row">
    <div class="col-12" *ngIf="currentcomponent=='designation'">
        <app-designation></app-designation>

    </div>
</div>