<p>roles works!&</p>


<!-- 
<div class="row">
    <div class="col-3">
        <p>{{first}}</p>
    </div>
    <div class="col-3">
        <p>{{date}}</p>
    </div>
    <div class="col-3">
        <p>{{last}}</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <input type='text' placeholder="enter" [value]="first" class="form-control"/>
        <input [type]="inputtype"/>
        <input type="text" [(ngModel)]="first">
        <h1>{{last}}</h1>
        <h1>{{selectedvaraible}}</h1>
    </div>

    <div class="row">
        <select [(ngModel)]="selectedvaraible" name="" id="">
            <option  value="mp">mp</option>
            <option value="ts">ts</option>
            <option value="ap">ap</option>
        </select>
    </div>
</div>
<button class="btn btn-success" (click)="showWelcomeAlert()">show alert</button>
<button class="btn btn-success" (click)="showMsg('ok')">show alert alert</button> -->